.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


body {
  background-color: lightblue;
}

h2{
  background-color:rgb(154, 135, 101);
  border-radius:4px;
  font-size:16px;
  padding:15px;
  margin:5px;
}

h3{
  background-color:rgb(255, 217, 2);
    border-radius:4px;
    font-size:16px;
    padding:15px;
    margin:5px;
}
